body{
  font-family:Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity:0.9;
  text-align: center;
  margin: 0;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  height: 69px;
  position: fixed;
  background-color: black;
  width: 100%;
  top: 0;
}
.logo img{
  display: block;
  margin-left: 10px;
  height: 50px;
}
nav{
  display:block;
  margin-right: 10px;
}
nav span{
  text-decoration: underline;
  margin: 10px;
}
nav span a{
  color:seashell;
}
.mission{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content:center;
  width: 1200px;
  margin-top: 70px;
}
.missiontext{
  display:block;
  background-color: black;
  width: 100%;
}
.teatext{
  display:block;
  text-align: center;
  margin-top: 50px;
  padding:10px;
  width: 1200px;
}
.teaofthemonth{
  display: flex;
  width:1200px;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
}
.teaofthemonth img{
  width: 300px;
  height: 200px;
  margin-right: 25px;
}
.teaofthemonth h4{
  margin-top: 10px;
}
.teatext{
  display: block;
}
.locations {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  background-position: center; 
  height: 500px;
  width: 1200px;
  padding-top: 70px;
}
.locations h2{
  margin-bottom: 0;
}
.addresses{
  display: flex;
  justify-content: center;
  align-content: center;
}
.address{
  width: 300px;
  background-color: black;
  margin: 15px 20px;
  opacity:1;
}
.contact{
  margin: 0px;
  height: 200px;
}
.footer {
  margin-left: 20px;
  text-align: left;
}
